.event {
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: $c-background;
  margin-bottom: $spacing;
  gap: calc($spacing / 2);

  &.visible {
    opacity: 1;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
  }

  @include d-large {
    align-items: center;
    padding: $spacing 0 $spacing 0;

    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    display: flex;
    //opacity: 0;
    // transform: scale(0);


    &:nth-child(odd) {
      -webkit-box-shadow: 0px 14px 26px -11px rgba(98, 80, 54, 1);
      -moz-box-shadow: 0px 14px 26px -11px rgba(98, 80, 54, 1);
      box-shadow: 0px 14px 26px -11px rgba(98, 80, 54, 1);
    }

    &:nth-child(even) {
      -webkit-box-shadow: 0px 14px 26px 11px rgba(98, 80, 54, 1);
      -moz-box-shadow: 0px 14px 26px 11px rgba(98, 80, 54, 1);
      box-shadow: 0px 14px 26px 11px rgba(98, 80, 54, 1);

    }

    @include d-medium {
      -webkit-box-shadow: 10px 11px 26px -11px rgba(98, 80, 54, 1);
      -moz-box-shadow: 10px 11px 26px -11px rgba(98, 80, 54, 1);
      box-shadow: 10px 11px 26px -11px rgba(98, 80, 54, 1);
    }

    @include d-large {
      width: 120rem;
    }

    img,
    picture {
      height: 80%;
      max-height: 450px;
      width: 100%;
    }
  }

  &__content {
    padding: calc($spacing / 6);
    width: fit-content;
  }

  &__title {
    font-weight: $bold;
    color: $c-secondary;
    text-align: center;
    text-transform: uppercase;

    @include d-large {
      font-size: $text-xl;
    }
  }

  &__text {
    padding: calc($spacing / 3);

    @include d-large {
      font-size: $text-lg;
    }

    p {
      line-height: 1.5;
      padding: calc($spacing / 6) 0;
    }
  }
}