.footer {
  margin-top: calc($spacing / 2);
  background-color: $black;
  padding: calc($spacing / 2);

  .copyright {
    color: $c-primary;
    text-align: center;
    padding-top: calc($spacing / 2);
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-social-media {
    a {
      color: $c-background;
    }
  }

  .icon-white {
    color: $white;
    font-size: 4rem;
  }
}