.icon {
  &-sm {
    font-size: $text-sm;
  }

  &-rg {
    font-size: $text-rg;
  }

  &-lg {
    font-size: $text-lg;
  }

  &-xl{
    font-size: $text-xl;
  }

  &-xxl {
    font-size: 4rem;
  }

  &-white {
    color: $white;
  }

  &-primary{
    color: $c-primary;
  }

  &-secondary {
    color: $c-secondary;
  }

  &-background {
    color: $c-background;
  }
}