.menu {
  background-color: $c-background;
  display: none;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;


  @include d-large {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: relative;
    height: auto;
    width: auto;
  }
}

.menu-link {
  position: relative;
  color: $brown;
  font-size: $text-lg;
  font-weight: $semibold;
  text-transform: uppercase;
  padding: calc($spacing / 6);
  transition: color 0.3s ease-in-out;
  font-size: $text-xl;

  &:hover,
  &:active {
    color: $gold;
  }

  &:hover::after {
    content: '⯌';
    animation: scale 0.5s linear alternate;
    font-size: 2rem;
    position: absolute;
    top: 25%;
    left: -1.5rem;
  }

  @include d-large {
    color: $c-background;
    font-size: $text-lg;

    &:hover::after {
      top: auto;
      left: auto;
      bottom: -1.5rem;
      right: 40%;
    }
  }
}

.show-on {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
  animation: showMenu 0.5s linear alternate;

  @include d-large {
    flex-direction: row;
  }

  .menu-link {
    animation: opacity-in 0.5s linear alternate;
  }
}

// Show menu on small displays
@keyframes showMenu {
  to {
    height: 100vh;
  }

  from {
    height: 0vh;
  }
}

@keyframes opacity-in {
  to {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

@keyframes scale {

  from {
    transform: scale(0) rotate(1turn);
  }

  to {
    transform: scale(1);
  }
}