.menu-mobile {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-radius: 0.5rem;
    color: $c-background;
    font-weight: $bold;
    text-transform: uppercase;
    
    @include d-medium {
        width: 15rem;
    }

    @include d-large {
        display: none;
    }

    p {
        margin: 0;
    }
}

.hamburger {
    cursor: pointer;

    .bar-1,
    .bar-2,
    .bar-3 {
        background: $c-background;
        border-radius: 10px;
        height: 3px;
        margin: 8px;
        width: 35px;
    }

    .change .bar-1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar-2 {
        opacity: 0;
      }
      
      .change .bar-3 {
        transform: translate(0, -11px) rotate(45deg);
      }
}