.comments {
  background-color: $c-background;
  border-top: 1px solid $c-primary;
  border-bottom: 1px solid $c-primary;
  margin: calc($spacing / 2) 0;

  &_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing;
    justify-content: center;
    overflow-y: hidden;
  }

  .title {
    span {
      display: block;
      font-size: $text-rg;

      @include d-medium {
        font-size: $text-lg;
      }
    }
  }

  .text-dark {
    font-size: $text-lg;
    font-weight: $semibold;
    margin-bottom: $spacing;

    &--large {
      color: $c-secondary;
      font-size: $text-xl;
      margin-bottom: $spacing;

      @include d-medium {
        font-size: 4rem;
      }
    }
  }
}

.dotteds-container {
  display: flex;
  justify-content: center;
  gap: calc($spacing / 3);
  margin-bottom: $spacing;
}

.dotted {
  background-color: $c-primary;
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  padding: 0.5rem;
  width: 1.5rem;
  transition: background-color 0.6s ease;


  &:hover {
    background-color: $c-secondary;
  }
}

.actived {
  background-color: $c-secondary;
}

.fade {
  animation: 2s ease-out normal running fade;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}