---
// Config
import comments from "../../config/comments.json";

// Components
import Comment from "../CommentCard.astro";

const dotteds = Array.from({ length: comments.length }, (v, i) => i);
---

<section class="comments">
  <div class="container">
    <p class="text-dark">
      La proxima historia puede ser la tuya!
      <a href="#" class="border-dotted-bottom text-primary">Contact Us</a>
    </p>
    <p class="text-dark--large">
      Nuestros clientes nos han compartido sus comentarios
    </p>
    <div class="dotteds-container">
      {dotteds.map((dotted) => <div class="dotted" />)}
    </div>
    <div class="comments_items container">
      {
        comments.map((comment) => (
          <Comment
            name={comment.name}
            comment={comment.comment}
            date={comment.date}
          />
        ))
      }
    </div>
  </div>
</section>
<script>
  // const MAX_CONTENTS_BY_CONTENT = 2;
  // const contents = Math.round(comments.length / MAX_CONTENTS_BY_CONTENT);
  // const commentsItems = document.querySelectorAll(".comment-items");
  // console.log(commentsItems);
  // let counter = 0;
</script>
