---

// Components
import Menu from "../Menu.astro";
import MenuMobile from "../MenuMobile.astro";

---

<header>
    <div class="navigation">
        <div class="logo">
            Logo
        </div>
        <MenuMobile />
        <Menu />
    </div>
    <section class="hero">
        <h1 class="title">
            Los Tres Potrillos Event & Hall Center
        </h1>
        <div class="hero-text">
            <p> 2520 E I-30 Frontage Rd, Greenville, TX </p>
            <a href="#" class="link"> Los Tres Potrillos Event & Hall Center LLC</a>
        </div>
    </section>
</header>