// main colors

$white: #FFFDFA;
$sweet-brown: #FFF8EE;
$gold: #B8A285;
$brown: #625036;
$black: #1C1712;

$c-primary: $gold;
$c-secondary: $brown;
$c-background: $sweet-brown;

// Breakpoints for media querys
$d-small: 480px;
$d-medium: 600px;
$d-large: 900px;
$d-xlarge: 1200px;

// Main spacing
$spacing: 6rem;