---
import Menu from "./Menu.astro";
import MenuMobile from "./MenuMobile.astro";
---

<footer class="footer">
  <div class="menu-container">
    <div class="menu-social-media">
      <a href="#" class="link-white link-dotted-bottom">
        Los Tres Potrillos Event & Hall Center LLC</a
      >
    </div>
    <div class="menu-navigation">
      <MenuMobile />
      <Menu />
    </div>
  </div>

  <p class="copyright">
    &copy; 2023 - Los Tres Potrillos Event & Hall Center LLC. All rights
    reserved.
  </p>
</footer>
