---
import Menu from "./Menu.astro";
import MenuMobile from "./MenuMobile.astro";

import { Icon } from "astro-icon/components";
---

<footer class="footer">
  <div class="menu-container">
    <div class="menu-social-media">
      <a href="#" class="link link-icon text-white">
        <Icon name="mdi:facebook" class="icon-white" />
        <span class="border-dotted-bottom">
          Los Tres Potrillos Event & Hall Center LLC
        </span>
      </a>
    </div>
    <div class="menu-navigation">
      <MenuMobile />
      <Menu />
    </div>
  </div>

  <p class="copyright">
    &copy; 2023 - Los Tres Potrillos Event & Hall Center LLC. All rights
    reserved.
  </p>
</footer>
