---
import { Icon } from 'astro-icon/components';
---

<div class="gallery__grid">
  <div class="album-card left-col">
    <div class="album-title">
      <Icon name="mdi:camera-enhance" class="icon-background icon-xl" />
      <h3>Este es el title del card</h3>
    </div>
  </div>
  <div class="album-card picture-highlight">
    <div class="album-title">
      <Icon name="mdi:camera-enhance" class="icon-background icon-xl" />
      <h3>Este es el title del card</h3>
    </div>
  </div>
  <div class="album-card right-col">
    <div class="album-title">
      <Icon name="mdi:camera-enhance" class="icon-background icon-xl" />
      <h3>Este es el title del card</h3>
    </div>
  </div>
  <div class="album-card left-col">
    <div class="album-title">
      <Icon name="mdi:camera-enhance" class="icon-background icon-xl" />
      <h3>Este es el title del card</h3>
    </div>
  </div>
  <div class="album-card">
    <div class="album-title">
      <Icon name="mdi:camera-enhance" class="icon-background icon-xl" />
      <h3>Este es el title del card</h3>
    </div>
  </div>
</div>
