<nav class="menu">
  <a href="#home" class="menu-link"> Home</a>
  <a href="#about-us" class="menu-link"> About Us</a>
  <a href="#events" class="menu-link"> Events</a>
  <a href="#gallery" class="menu-link"> Gallery</a>
  <a href="#contact" class="menu-link"> Contact</a>
</nav>
