---
import type { CollectionEntry } from "astro:content";

type Props = {
  event: CollectionEntry<"events">;
};

const { event } = Astro.props;
---

<div class="event__card">
  <div class="event__image">
    <img src={event.data.heroImage} alt={event.data.imageAttr.alt}>
  </div>
  <div class="event__text">
    <h3>
      {event.data.title}
    </h3>
    <slot />
  </div>
</div>
