//Main Font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap');

$font-main: 'Playfair Display';

// Font weight
$regular: 400;
$semibold: 600;
$bold: 700;
$dark: 900;

// Font sizes
$text-sm: 1.2rem;
$text-md: 1.4rem;
$text-rg: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2.4rem;


